/**
 * elementUI样式覆盖
 */

.el-button {
  &.el-button--primary {
    background-color: $primaryButtonColor;
    border-color: $primaryButtonColor;
    &:focus,
    &:hover {
      background: $primaryButtonHoverColor;
    }
  }
  &.el-button--warning {
    background-color: $warningButtonColor;
    border-color: $warningButtonColor;
    &:focus,
    &:hover {
      background: $warningButtonHoverColor;
    }
  }
  &.el-button--error {
    background-color: $errorButtonColor;
    border-color: $errorButtonColor;
    color: #fff;
    &:focus,
    &:hover {
      background: $errorButtonHoverColor;
    }
  }
  &.el-button--default {
    &:focus,
    &:hover {
      color: #243C65;
    }
  }
  &.el-button--medium {
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
  }
  &.el-button--small {
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
  }
}

.el-input__inner {
  height: 35px;
  line-height: 35px;
}
.el-select,
.el-input {
  &.is-focus {
    .el-input__inner {
      border-color: $primaryButtonHoverColor !important;
    }
  }
  &:focus {
    border-color: $primaryButtonHoverColor !important;
  }
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: $primaryButtonHoverColor !important;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: $primaryButtonHoverColor;
}
.el-date-editor .el-range-separator {
  padding: 0;
}
.el-range-editor {
  .el-input__icon {
    line-height: 30px;
  }
  .el-range-separator {
    line-height: 28px;
  }
}
.law-form {
  .el-form-item__label {
    display: none;
  }
  .el-input__inner {
    height: 32px;
    line-height: 1.5;
    padding: 4px 7px;
    font-size: 12px;
    transition: all .2s ease-in-out;
    &:focus {
      box-shadow: 0 0 0 2px rgb(0 21 41 / 20%);
      border-color: #334454;
      outline: 0;
    }
    &:hover {
      border-color: #334454;
    }
  }
}
.law-table {
  .el-table__fixed-right,
  .el-table__header-wrapper {
    th {
     &.el-table__cell {
       padding: 0 !important;
       height: 40px;
       white-space: nowrap;
       overflow: hidden;
       background-color: #f8f8f9;
     }
    }
  }
  .el-table__row {
    &:hover {
      .el-table__cell {
        background: #ebf7ff !important;
      }
    }
  }
}
.el-divider--horizontal {
  margin: 8px 0;
  background: #e8eaec;
}
