@font-face {
    font-family: 'iconfont';  /* Project id 3014578 */
    src: url('//at.alicdn.com/t/font_3014578_04uicwhbrfaz.woff2?t=1639450943152') format('woff2'),
    url('//at.alicdn.com/t/font_3014578_04uicwhbrfaz.woff?t=1639450943152') format('woff'),
    url('//at.alicdn.com/t/font_3014578_04uicwhbrfaz.ttf?t=1639450943152') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
